form {
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr, td {
  padding: 1em;
  border: 1px solid gray;
}

[type=submit] {
  display: inline-block;
}

.hide {
  display: none;
}