body {
  font-family: sans-serif;
  color: #555;
}

form {
  padding: 1em;
}

input, button {
  font-size: 1em;
}

input[type="date"] {
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #666;
  color: #fff;
}

tr, td {
  padding: 1em;
  border: 1px solid gray;
}

[type=submit] {
  display: inline-block;
}

.hide {
  display: none;
}